h1 = result["watch_name"]

p Klockans namn: #{result["watch_name"]}.
p Tillverkare: #{result["brand_name"]}.
p Klockans rörelse: #{result["movement"]}.
p Info om klockan: #{result["content"]}.
p Klockan ägs av: #{result["username"]}.


